/*----------------------
    PAGE RESET          
-----------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------
    SET GENERALE          
-----------------------*/

body{
    background-color:  #F6F8F9;
    font-family: "Roboto", sans-serif;
}

/*----------------------
    GESTIONE HEADER        
-----------------------*/
header{
    background-color: #ffffff ;
}

.allinea{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 900;
}

.poslogo{
    vertical-align: middle;
    padding:15px 20px;
}